body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/minecraft.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;  
    border: none;                  
    opacity: 0;   
}