body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100%; /* Mudar de 100vh para min-height */
    overflow: hidden;
}

.imagem {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 0;
    position: relative;  /* Necessário para que as bolas sejam posicionadas corretamente */
}

.imagem img {
    width: 80%;
    max-width: 300px;
    height: auto;
    object-fit: contain; /* Ajuste o object-fit para garantir que a imagem se ajuste corretamente */
}


.caixa {
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Usando fr para distribuir a largura */
    grid-template-rows: repeat(2, 1fr); /* Usando fr para distribuir a altura */
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
}


.gift {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bola {
    touch-action: none;
    position: absolute;  /* Faz a bola ser posicionada em cima da árvore */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;  /* Default color */
}

.vermelho {
    background-color: red;
    top: 40%;  /* Ajustado para a posição correta na árvore */
    left: 46%; /* Centralizado em relação à árvore */
    cursor: pointer;
}

.verde {
    background-color: green;
    top: 54%;  /* Ajustado para a posição correta na árvore */
    right: 63%; /* Ajustado para um bom posicionamento */
}

.azul {
    background-color: blue;
    top: 54%;  /* Ajustado para a posição correta na árvore */
    left: 63%; /* Ajustado para a posição correta na árvore */
}

.amarelo {
    background-color: yellow;
    top: 60%;  /* Ajustado para a posição correta na árvore */
    left: 46%; /* Centralizado em relação à árvore */
}

.mensagem-box{
    font-family: "Poppins", serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: indigo;
    color: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mensagem-box img{
    width: 100px;
}


.hidden{
    display: none;
}